.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
!syntaxes/**
!out/**/*.js
node_modules/**
.DS_Store
*.vsix
examples/**
.claude/**
